<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Variables -->
  <xacro:property name="base_length" value="0.498"/>
  <xacro:property name="base_width" value="0.39"/>
  <xacro:property name="base_height" value="0.04"/>

  <xacro:include filename="inertial_macros.xacro"/>

  <!-- Base Link -->
  <link name="base_link"/>

  <!-- Chassis -->
  <joint name="base_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="chassis"/>
  </joint>

  <link name="chassis">

    <visual>
      <origin xyz="-0.019 0.0 0.0115"/>
      <geometry>
        <mesh filename="${mesh_path}/chassis.stl"/>
        <!-- <mesh filename="/home/subham/ros_ws/diff_drive/src/diff_bot_description/meshes/chassis.stl" scale="1 1 1"/> -->
      </geometry>
      <material name="blue"></material>
    </visual>

    <collision>
      <origin xyz="0.229 0.0 0.0315"/>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
    </collision>

    <xacro:inertial_box mass="1.0" x="${base_length}" y="${base_width}" z="${base_height}">
      <origin xyz="0.0 0.0 0.0"/>
    </xacro:inertial_box>

  </link>

</robot>
