<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Required Gazebo system plugins -->
  <gazebo>
    <plugin filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
      <!-- <render_engine>ogre2</render_engine> -->
    </plugin>
  </gazebo>

  <!-- Joint State Publisher Plugin -->
  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="gz_ros2_control-system"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">

      <parameters>
        /home/subham/ros_ws/diff_drive/install/diff_bot_description/share/diff_bot_description/config/controllers.yaml
      </parameters>

    </plugin>
  </gazebo>

  <!-- Differential Drive Plugin -->
  <!-- <gazebo>
    <plugin name='gz::sim::systems::DiffDrive' filename='gz-sim-diff-drive-system'/>
  </gazebo> -->
  
  <!-- LIDAR Plugin -->
  <!-- YDLiDAR G2 Hardware Characteristics:
          - Field of View: 360° (full continuous rotation)
          - Motor Speed: ~8 Hz (480 RPM)
          - Sampling Rate: ~5000 samples/second
          - Angular Resolution: ~0.36°
          - Range: 0.12m to 12.0m
          - Communication: UART via USB-TTL @ 230400 bps (plug-and-play)-->

  <!-- Type: gpu_lidar (not ray or lidar) for modern Gazebo (Harmonic/Garden) -->
      
  <!-- <gz_frame_id/> CRITICAL: Sets the frame_id in LaserScan messages -->
  <!-- MUST match the link name (lidar_link) for TF consistency -->
  <!-- Without this, Gazebo auto-generates frame like robot_name/parent_link/sensor_name -->

  <gazebo reference="lidar_link">

    <material>Gazebo/Red</material>

    <sensor name="lidar_sensor" type="gpu_lidar">
    
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <topic>scan</topic>
      <gz_frame_id>lidar_link</gz_frame_id>

      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.12</min>
          <max>12.0</max>
        </range>
      </lidar>

    </sensor>

  </gazebo>

</robot>