<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Variables -->
  <xacro:property name="lidar_height" value="0.042" />
  <xacro:property name="lidar_radius" value="0.036" />

  <!-- Links -->
  <joint name="lidar_joint" type="fixed">
    <origin xyz="0.4875 0.0 0.06"/>
    <parent link="chassis"/>
    <child link="lidar_link"/>
  </joint>

  <link name="lidar_link">

    <visual>
      <origin xyz="0 0 -0.08"/>
      <geometry>
        <mesh filename="${mesh_path}/lidar.stl"/>
        <!-- <mesh filename="/home/subham/ros_ws/diff_drive/src/diff_bot_description/meshes/lidar.stl" scale="1 1 1"/> -->
      </geometry>
      <material name="red"/>
    </visual>

    <collision>
      <origin xyz="0 0 0.05"/>
      <geometry>
        <cylinder length="${lidar_height}" radius="${lidar_radius}"/>
      </geometry>
    </collision>

    <xacro:inertial_cylinder mass="0.1" radius="${lidar_radius}" length="${lidar_height}">
      <origin xyz="0 0 ${lidar_height/2}"/>
    </xacro:inertial_cylinder>

  </link>

</robot>
