<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


 <!-- Required Gazebo system plugins -->
  <gazebo>
    <plugin filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>

  <!-- 2.Joint State Publisher Plugin -->
  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
    </plugin>
  </gazebo>


  <gazebo reference="lidar_link">
    <sensor name="lidar" type="gpu_lidar">
    
      <always_on>true</always_on>
      <visualize>true</visualize>
      <topic>/scan</topic>
      <pose>0 0 0.05 0 0 0</pose>
      <update_rate>10</update_rate>
      <gz_frame_id>lidar_link</gz_frame_id>

      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1.0</resolution>
            <min_angle>${-pi}</min_angle>
            <max_angle>${pi}</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>0.01</resolution>
            <min_angle>0</min_angle>
            <max_angle>0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.2</min>
          <max>12.0</max>
          <resolution>0.02</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </lidar>
    </sensor>
  </gazebo>
  
</robot>